.screen{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.all{
    display: flex;
    flex-direction: column;
    gap: 185px;
    margin-left: 0;
}

.sidebar{
    background-color: bisque;
    background-size: cover;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.user{
    margin-left: 10px;
}

.italo{
    border-radius: 50%;
}

img{
    width: 35px;
    height: 35px;
}
